Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/blueprints, area/cmd, area/docs, area/templates, area/warpgate, area/magefiles, area/asdf, area/go-mod-sum

Iterating on the image builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Debugging image builder
  .github/workflows/container-image-builder.yaml
Labels: area/github

More debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed pathing issue in image builder
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/config.yaml
  cmd/imagebuilder.go
Labels: area/github, area/blueprints, area/cmd

Cleaned up image builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Update renovatebot to use new github app-based auth
  .github/workflows/renovate.yaml
Labels: area/github

Update container image builder to use new github app-based auth
  .github/workflows/container-image-builder.yaml
Labels: area/github

Add missing token to env vars for wg
  .github/workflows/container-image-builder.yaml
Labels: area/github

Add token perms check to image builder github action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Revert back to BOT_TOKEN
  .github/workflows/container-image-builder.yaml
Labels: area/github

Enhanced GitHub token validation in imageBuilder and documentation.
  .github/workflows/container-image-builder.yaml
  README.md
  cmd/imagebuilder.go
Labels: area/github, area/cmd

Debugging container image builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Seeing if removing the app component and fixing username works
  .github/workflows/container-image-builder.yaml
Labels: area/github

Reduced complexity of action to determine if it works then
  .github/workflows/container-image-builder.yaml
Labels: area/github

Add concurrency key to builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed case issue in docs that causes annoying error
  docs/debug.md
Labels: area/docs

Fixed github token handling
  cmd/imagebuilder.go
Labels: area/cmd

Remove debug statements; fix doc content
  README.md
  cmd/imagebuilder.go
Labels: area/cmd

Debugging STILL
  .github/workflows/container-image-builder.yaml
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
  cmd/imagebuilder.go
Labels: area/github, area/blueprints, area/cmd

New error message - going back to app-based auth
  .github/workflows/container-image-builder.yaml
Labels: area/github

Removed unused entrypoint for runzero-explorer
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/config.yaml
Labels: area/github, area/blueprints

REALLY DEBUGGING
  .github/workflows/container-image-builder.yaml
  cmd/imagebuilder.go
Labels: area/github, area/cmd

Fixed minor bugs in docs and image builder
  .github/workflows/container-image-builder.yaml
  docs/debug.md
Labels: area/github, area/docs

MOAR debug
  .github/workflows/container-image-builder.yaml
Labels: area/github

Getting more specific for debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

More debugging again!
  .github/workflows/container-image-builder.yaml
Labels: area/github

Updated go.mod and go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

Hope plzzz
  .github/workflows/container-image-builder.yaml
Labels: area/github

Throwing in the towel with packer for pushing
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/github, area/blueprints

Fixed casing issue
  .github/workflows/container-image-builder.yaml
Labels: area/github

Worked with act, here's hoping
  .github/workflows/container-image-builder.yaml
Labels: area/github

Maybe now?
  .github/workflows/container-image-builder.yaml
Labels: area/github

One last test for the app
  .github/workflows/container-image-builder.yaml
Labels: area/github

Removed app in favor of PAT; updated with matrix for all blueprints
  .github/workflows/container-image-builder.yaml
Labels: area/github

We love debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

Moved debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

Update mage go mods
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

Tweaks and bug fixes
  .github/workflows/container-image-builder.yaml
Labels: area/github

Another fix
  .github/workflows/container-image-builder.yaml
Labels: area/github

Back to pre-matrix
  .github/workflows/container-image-builder.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/blueprints:
  - "blueprints/**/*"

area/cmd:
  - "cmd/**/*"

area/docs:
  - "docs/**/*"

area/templates:
  - "templates/**/*"

area/warpgate:
  - "warpgate/**/*"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"
