Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Hopefully fix action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Warpgate image builder action now working for multiple blueprints
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

**Refactored logging and configuration handling**
  cmd/README.md
  cmd/config/config.yaml
  cmd/root.go
  config.yaml
  pkg/config/README.md
  pkg/config/config.go
  pkg/logging/README.md
  pkg/logging/logging.go
Labels: area/cmd

Removed old const vars
  cmd/root.go
Labels: area/cmd

Updated root command description
  cmd/root.go
Labels: area/cmd

Fixed nil pointer dereference
  cmd/root.go
  pkg/logging/logging.go
Labels: area/cmd

**Refactored logging and configuration handling** (#239)
  cmd/README.md
  cmd/config/config.yaml
  cmd/root.go
  config.yaml
  pkg/config/README.md
  pkg/config/config.go
  pkg/logging/README.md
  pkg/logging/logging.go
Labels: area/cmd

Add TTPForge blueprint
  blueprints/ttpforge/README.md
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/plugins.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints

Added TTPForge blueprint to warpgate-image-builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Added Atomic Red Team blueprint
  blueprints/atomic-red-team/README.md
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/packer_templates/plugins.pkr.hcl
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/atomic-red-team/scripts/provision.sh
Labels: area/blueprints

Added atomic-red-team to the image builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Add missing collection installs to ART provision script
  blueprints/atomic-red-team/scripts/provision.sh
Labels: area/blueprints

Fix pathing and dependencies in provision scripts
  blueprints/atomic-red-team/scripts/provision.sh
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints

Updated sliver config; minor nits
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/sliver/config.yaml
Labels: area/blueprints

Update go mod
  go.mod
  go.sum
Labels: area/go-mod-sum

Update ART blueprint to use root
  blueprints/atomic-red-team/README.md
  blueprints/atomic-red-team/config.yaml
Labels: area/blueprints

Remove GHCR login from image builder action - we handle login in warpgate
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Update go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Added missing comments to exported resources
  pkg/registry/README.md
  pkg/registry/docker.go
  pkg/registry/github.go
Labels: none

Fixed incorrect comment; updated copyright headers; removed decommissioned golint hook
  .hooks/go-copyright.sh
  .pre-commit-config.yaml
  cmd/README.md
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  main.go
  pkg/blueprint/structs.go
  pkg/config/config.go
  pkg/logging/logging.go
  pkg/magehelpers/docgen.go
  pkg/magehelpers/testing.go
  pkg/packer/structs.go
  pkg/registry/docker.go
  pkg/registry/github.go
Labels: area/cmd, area/pre-commit

Update go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Set DEBIAN_FRONTEND to noninteractive and TZ to UTC
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Updated all blueprints to use ubuntu jammy
  blueprints/atomic-red-team/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
Labels: area/blueprints

Update go mods
  cmd/blueprint.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Fix no space left on device error
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Overhauled the project docs
  README.md
  docs/act.md
Labels: area/docs

Overhauled the project docs (#298)
  README.md
  docs/act.md
Labels: area/docs

Added AWS AMI support to ttpforge blueprint
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/ttpforge/packer_templates/plugins.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints

Added comments for vars
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Updated TTPForge blueprint and provisioning scripts for enhanced flexibility
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints

Refactor GitHub workflow and provisioning scripts, and enhance Packer integration.
  .github/workflows/warpgate-image-builder.yaml
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
  cmd/imagebuilder.go
  pkg/packer/structs.go
Labels: area/blueprints, area/cmd, area/github

Enhanced TTPForge Blueprint and GitHub Workflow for Dynamic AMI Support (#299)
  .github/workflows/warpgate-image-builder.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/ttpforge/packer_templates/plugins.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
  cmd/imagebuilder.go
  pkg/packer/structs.go
Labels: area/blueprints, area/cmd, area/github

Refactored templates vars for AMI and container support
  .github/workflows/warpgate-image-builder.yaml
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  cmd/imagebuilder.go
  pkg/packer/structs.go
Labels: area/blueprints, area/cmd, area/github

Fixed location of AWS credential configuration
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed cleanup steps
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Updated contents permission for OIDC
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Cache go modules
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Removed broken step in image builder that was supposed to free up disk space
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed ansible collection clone path
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Minor nits
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints
