Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

feat: Update Packer template README instructions for task-based build
  blueprints/atomic-red-team/packer_templates/README.md
  blueprints/attack-box/packer_templates/README.md
  blueprints/runzero-explorer/packer_templates/README.md
Labels: area/blueprints

feat: Migrate image builder workflow to go-task, simplify matrix, and refactor
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Add Docker image manifest support & improve Packer docs
  blueprints/atomic-red-team/packer_templates/README.md
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/attack-box/packer_templates/README.md
  blueprints/attack-box/packer_templates/docker.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/runzero-explorer/packer_templates/docker.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/sliver/packer_templates/docker.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/packer_templates/docker.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints

feat: Rewrite and expand Packer README docs for Docker & AMI blueprints
  blueprints/atomic-red-team/packer_templates/README.md
  blueprints/attack-box/packer_templates/README.md
  blueprints/runzero-explorer/packer_templates/README.md
  blueprints/sliver/packer_templates/README.md
  blueprints/ttpforge/packer_templates/README.md
Labels: area/blueprints

feat: Extend Packer+Task integration for multi-arch Docker + AMI builds
  .gitignore
  README.md
  Taskfile.yaml
  blueprints/atomic-red-team/packer_templates/README.md
  blueprints/atomic-red-team/packer_templates/ami.pkr.hcl
  blueprints/atomic-red-team/packer_templates/docker.pkr.hcl
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
Labels: area/blueprints

feat: Add advanced image builder workflow & Taskfile support for act/namespace
  .github/workflows/warpgate-image-builder.yaml
  Taskfile.yaml
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

fix: Removed AWS support from image-builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: Resolved invalid steps in warpgate-image-builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

chore: Update go mods
  go.sum
Labels: area/go-mod-sum

feat: Update warpgate-image-builder workflow: move go-task, refine template-init
  .github/workflows/warpgate-image-builder.yaml
  Taskfile.yaml
Labels: area/github

fix: Permissions issue in build directory
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Enhance Packer env management in warpgate-image-builder workflow
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: Add missing plugin to sliver plugins packer
  blueprints/sliver/packer_templates/plugins.pkr.hcl
Labels: area/blueprints

feat: Refactor Docker login in image builder workflow
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: Resolve push image job in image-builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Add GH App token generation in image builder workflow
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: Remove submodule from checkout step
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: update image push step to use bot token and consistent user
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: Fixed GITHUB_USER reference for the CowDogMoo renovate bot
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Improve warpgate image builder workflow token handling
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Improve image push workflow auth and repo owner flexibility
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: Simplified image-builder permissions to push images to one namespace
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: Updated image-builder action to use PAT for pushing to multiple ghcr namespaces
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

chore: streamline warpgate-image-builder workflow, remove unused steps
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

chore: Modernized pre-commit action
  .github/workflows/pre-commit.yaml
Labels: area/github

feat: migrated pre-commit hooks, refactored Packer templates for clarity
  .pre-commit-config.yaml
  blueprints/attack-box/packer_templates/ami.pkr.hcl
  blueprints/attack-box/packer_templates/docker.pkr.hcl
  blueprints/runzero-explorer/packer_templates/ami.pkr.hcl
  blueprints/runzero-explorer/packer_templates/docker.pkr.hcl
  blueprints/sliver/packer_templates/ami.pkr.hcl
  blueprints/sliver/packer_templates/docker.pkr.hcl
  blueprints/ttpforge/packer_templates/ami.pkr.hcl
  blueprints/ttpforge/packer_templates/docker.pkr.hcl
  broken-blueprints/windows/packer_templates/plugins.pkr.hcl
  broken-blueprints/windows/packer_templates/variables.pkr.hcl
  files/variables.pkr.hcl
Labels: area/blueprints, area/pre-commit

chore: Remove old hooks from the go version
  .hooks/generate-docs.sh
  .hooks/go-copyright.sh
  .hooks/go-licenses.sh
  .hooks/go-no-replacement.sh
  .hooks/go-unit-tests.sh
  .hooks/go-vet.sh
  .hooks/run-go-tests.sh
Labels: area/pre-commit

feat: Add multi-arch image build/push/manifest GH Actions & new Taskfile cmds
  .github/workflows/warpgate-image-builder.yaml
  .gitignore
  Taskfile.yaml
Labels: area/github

fix: Update go-task job to use official script for multiarch support
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

chore: remove legacy CI workflows and improve digest extraction in Taskfile
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
  Taskfile.yaml
Labels: area/github

chore: Migrated broken blueprints to broken packer templates
  .goreleaser.yaml
  .vscode/launch-createbp.json
  .vscode/launch.json
  .vscode/tasks.json
  broken-packer-templates/windows/README.md
  broken-packer-templates/windows/config.yaml
  broken-packer-templates/windows/packer_templates/plugins.pkr.hcl
  broken-packer-templates/windows/packer_templates/variables.pkr.hcl
  broken-packer-templates/windows/packer_templates/windows.pkr.hcl
  broken-packer-templates/windows/scripts/bootstrap_win.txt
  broken-packer-templates/windows/scripts/provision.ps1
Labels: none

feat: Refactor image builder workflow to use Packer and update templates
  .github/workflows/renovate.yaml
  .github/workflows/warpgate-image-builder.yaml
  Taskfile.yaml
Labels: area/github

feat: Refactor image builder workflow to use task-based Packer steps
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Modernize docs, templates, and workflows for Taskfile-centric system
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/act.md
  docs/debug.md
  docs/dev.md
  docs/image-pushing.md
  packer-templates/atomic-red-team/README.md
  packer-templates/attack-box/README.md
  packer-templates/runzero-explorer/README.md
  packer-templates/sliver/README.md
  packer-templates/ttpforge/README.md
Labels: area/docs, area/github

feat: Modernize docs, templates, and workflows for Taskfile-centric system (#1533)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/act.md
  docs/debug.md
  docs/dev.md
  docs/image-pushing.md
  packer-templates/atomic-red-team/README.md
  packer-templates/attack-box/README.md
  packer-templates/runzero-explorer/README.md
  packer-templates/sliver/README.md
  packer-templates/ttpforge/README.md
Labels: area/docs, area/github

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
