Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Add missing runzero ID
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Updated packer and provision script to ensure RUNZERO_DOWNLOAD_TOKEN is present
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
Labels: area/blueprints

Fixed tagging and push code
  cmd/imagebuilder.go
  pkg/registry/README.md
  pkg/registry/docker.go
Labels: area/cmd

Add post-processing to runzero pkr; optimized tagging
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  cmd/imagebuilder.go
Labels: area/blueprints, area/cmd

Fixed tagging
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/blueprints

Add debug step to wg image builder
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Attempting to fix tagging issue
  cmd/imagebuilder.go
Labels: area/cmd

Add push to post processors
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/blueprints

WIP
  blueprints/runzero-explorer/packer_templates/plugins.pkr.hcl
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  cmd/imagebuilder.go
Labels: area/blueprints, area/cmd

IT WORKS
  .tool-versions
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  cmd/imagebuilder.go
  pkg/packer/structs.go
Labels: area/blueprints, area/cmd

Refactored monumentally complex func
  cmd/imagebuilder.go
Labels: area/cmd

Latest working again - with undesirable extras
  cmd/imagebuilder.go
Labels: area/cmd

Add provisioner back in
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/blueprints

Broke token validation into registry package
  cmd/imagebuilder.go
  pkg/registry/README.md
  pkg/registry/github.go
Labels: area/cmd

Removed templated username from .tool-versions
  .tool-versions
Labels: none

Add missing env var now required for pushing to ghcr in wg
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Removed build args from packer template - this is now handled in warpgate
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  cmd/imagebuilder.go
Labels: area/blueprints, area/cmd

Make necessary updates to builder
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Remove tmate from warpgate-image-builder
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Update ubuntu to latest
  blueprints/runzero-explorer/config.yaml
Labels: area/blueprints

The runzero blueprint is now working
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  cmd/imagebuilder.go
Labels: area/blueprints, area/cmd

Updated imagebuilder actions to run on PRs
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

IT WORKS
  .tool-versions
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  cmd/imagebuilder.go
Labels: area/blueprints, area/cmd

The runzero blueprint is now working
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/blueprints

Updated default image to latest
  blueprints/runzero-explorer/config.yaml
Labels: area/blueprints

Updated default image to ubuntu noble
  .tool-versions
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Add DEBIAN_FRONTEND to packer env vars
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/blueprints

Fixed bugs in runzero provision script
  blueprints/runzero-explorer/scripts/provision.sh
Labels: area/blueprints

Add DEBIAN_FRONTEND to runzero script for debian-based system
  blueprints/runzero-explorer/scripts/provision.sh
Labels: area/blueprints

Removed debug statements
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  cmd/root.go
Labels: area/cmd

Removed default values from packer variables to ensure config is working
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Appears to be fully functional in github actions finally
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
  config.yaml
Labels: area/blueprints

Refactor image builder workflow and update dependencies (#210)
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/warpgate-image-builder.yaml
  .tool-versions
  blueprints/runzero-explorer/packer_templates/plugins.pkr.hcl
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  cmd/root.go
  config.yaml
  pkg/packer/structs.go
  pkg/registry/README.md
  pkg/registry/github.go
Labels: area/blueprints, area/cmd, area/github

Update go.mod and go.sum
  go.mod
  go.sum
Labels: area/go-mod-sum

Minor bug fixes and removal of dead code
  cmd/blueprint.go
  cmd/root.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Add sliver blueprint
  blueprints/sliver/README.md
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/plugins.pkr.hcl
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/sliver/scripts/provision.sh
Labels: area/blueprints

Add README for sliver blueprint
  blueprints/sliver/README.md
Labels: area/blueprints

Update warpgate-image-builder to support multiple blueprints
  .github/workflows/warpgate-image-builder.yaml
  .hooks/linters/yamllint.yaml
Labels: area/github, area/pre-commit

Use wg to list blueprints
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed log output to fix image-builder action
  .github/workflows/warpgate-image-builder.yaml
  cmd/root.go
  go.mod
  go.sum
Labels: area/cmd, area/github, area/go-mod-sum
