Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/dockerfiles, area/packer, area/docs, area/github, area/pre-commit, area/taskfile, tool/atomic-red-team, tool/attack-box, tool/runzero, tool/sliver, tool/ttpforge

.github/labeler.yaml:

---
area/dockerfiles:
  - changed-files:
      - any-glob-to-any-file: "dockerfiles/**/*"

area/packer:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

# Tool-specific labelers
tool/atomic-red-team:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/atomic-red-team/**/*"
      - any-glob-to-any-file: "dockerfiles/atomic-red/**/*"

tool/attack-box:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/attack-box/**/*"

tool/runzero:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/runzero-explorer/**/*"

tool/sliver:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/sliver/**/*"

tool/ttpforge:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/ttpforge/**/*"

fix: Dead badge in repo README
  README.md
Labels: none

docs: add comprehensive sliver packer build and usage guide for macos arm64
  .github/workflows/warpgate-image-builder.yaml
  docs/sliver.md
  packer-templates/sliver/docker.pkr.hcl
  packer-templates/sliver/variables.pkr.hcl
Labels: area/packer, area/docs, area/github, tool/sliver

docs: add comprehensive sliver packer build and usage guide for macos arm64 (#1565)
  .github/workflows/warpgate-image-builder.yaml
  docs/sliver.md
  packer-templates/sliver/docker.pkr.hcl
  packer-templates/sliver/variables.pkr.hcl
Labels: area/packer, area/docs, area/github, tool/sliver

feat: add printer-monitor container image and markdownlint integration
  .github/workflows/dockerfile-image-builder.yaml
  .hooks/linters/markdownlint.json
  .pre-commit-config.yaml
  dockerfiles/printer-monitor/Dockerfile
  dockerfiles/printer-monitor/README.md
  dockerfiles/printer-monitor/docker-bake.hcl
  dockerfiles/printer-monitor/monitor.py
Labels: area/dockerfiles, area/github, area/pre-commit

``` chore: remove custom markdownlint configuration and style files
  .hooks/linters/mdstyle.rb
  .mdlrc
Labels: area/pre-commit

fix: correct monitor.py path in Dockerfile for build context
  dockerfiles/printer-monitor/Dockerfile
Labels: area/dockerfiles

fix: suppress Semgrep cert validation warnings for self-signed printer cert
  dockerfiles/printer-monitor/monitor.py
Labels: area/dockerfiles

fix: resolve Semgrep security findings
  .github/workflows/dockerfile-image-builder.yaml
  .semgrepignore
Labels: area/github

Add printer-monitor container image and dynamic CI workflow (#1575)
  .github/workflows/dockerfile-image-builder.yaml
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .mdlrc
  .pre-commit-config.yaml
  .semgrepignore
  dockerfiles/printer-monitor/Dockerfile
  dockerfiles/printer-monitor/README.md
  dockerfiles/printer-monitor/docker-bake.hcl
  dockerfiles/printer-monitor/monitor.py
Labels: area/dockerfiles, area/github, area/pre-commit

fix: prevent false belt unit errors by ignoring error history section
  dockerfiles/printer-monitor/monitor.py
Labels: area/dockerfiles

``` feat: add printer sleep timer configuration and improved wake logic
  dockerfiles/printer-monitor/monitor.py
Labels: area/dockerfiles

feat: add printer sleep timer configuration and improved wake logic
  dockerfiles/printer-monitor/monitor.py
Labels: area/dockerfiles

chore: update gitignore to exclude local test files
  .gitignore
Labels: none

refactor: improve printer wake logic and status detection in monitor script
  dockerfiles/printer-monitor/monitor.py
Labels: area/dockerfiles

chore: add test comment to Taskfile for hook fix verification
  Taskfile.yaml
Labels: area/taskfile

ci: update renovate to auto-merge all github actions updates including majors
  .github/renovate.json5
Labels: area/github

ci: update renovate to auto-merge all github actions updates including majors (#1581)
  .github/renovate.json5
Labels: area/github

feat: add optimized guacamole provisioner sidecar with batch db operations
  dockerfiles/guacamole-provisioner/Dockerfile
  dockerfiles/guacamole-provisioner/README.md
  dockerfiles/guacamole-provisioner/docker-bake.hcl
  dockerfiles/guacamole-provisioner/provision_connections.py
Labels: area/dockerfiles

docs: update docstring for guacamole provisioner with feature overview
  dockerfiles/guacamole-provisioner/provision_connections.py
Labels: area/dockerfiles

fix: set correct docker build context for guacamole-provisioner
  dockerfiles/guacamole-provisioner/docker-bake.hcl
Labels: area/dockerfiles

feat: add optimized guacamole connection provisioner sidecar (#1584)
  dockerfiles/guacamole-provisioner/Dockerfile
  dockerfiles/guacamole-provisioner/README.md
  dockerfiles/guacamole-provisioner/docker-bake.hcl
  dockerfiles/guacamole-provisioner/provision_connections.py
Labels: area/dockerfiles

build: update base python image to 3.13-alpine for guacamole-provisioner
  dockerfiles/guacamole-provisioner/Dockerfile
Labels: area/dockerfiles

fix: update dependencies and cleanup in guacamole provisioner Dockerfile
  dockerfiles/guacamole-provisioner/Dockerfile
Labels: area/dockerfiles

build: update base python image to 3.13-alpine for guacamole-provisioner (#1587)
  dockerfiles/guacamole-provisioner/Dockerfile
Labels: area/dockerfiles

chore: disable renovate updates for guacamole-provisioner dockerfile
  .github/renovate.json5
Labels: area/github

feat: add ansible collection path and cleanup option to build provisioner
  packer-templates/ttpforge/docker.pkr.hcl
Labels: area/packer, tool/ttpforge

feat: add ansible collection path and cleanup option to build provisioner (#1590)
  packer-templates/ttpforge/docker.pkr.hcl
Labels: area/packer, tool/ttpforge

refactor: improve docker image build cleanliness and ansible provisioning
  packer-templates/ttpforge/ami.pkr.hcl
  packer-templates/ttpforge/docker.pkr.hcl
Labels: area/packer, tool/ttpforge

feat: add /opt/ttpforge to PATH in docker images
  packer-templates/ttpforge/docker.pkr.hcl
Labels: area/packer, tool/ttpforge

feat: add minimal asdf Packer container template with examples and docs
  packer-templates/asdf/.tool-versions.example
  packer-templates/asdf/README.md
  packer-templates/asdf/docker.pkr.hcl
  packer-templates/asdf/examples/.tool-versions-python-golang
  packer-templates/asdf/examples/Dockerfile.python-golang
  packer-templates/asdf/examples/Dockerfile.tool-versions
  packer-templates/asdf/examples/README.md
  packer-templates/asdf/locals.pkr.hcl
  packer-templates/asdf/playbook.yml
  packer-templates/asdf/plugins.pkr.hcl
  packer-templates/asdf/variables.pkr.hcl
Labels: area/packer

feat: add minimal asdf Packer container template with examples and docs (#1599)
  packer-templates/asdf/.tool-versions.example
  packer-templates/asdf/README.md
  packer-templates/asdf/docker.pkr.hcl
  packer-templates/asdf/examples/.tool-versions-python-golang
  packer-templates/asdf/examples/Dockerfile.python-golang
  packer-templates/asdf/examples/Dockerfile.tool-versions
  packer-templates/asdf/examples/README.md
  packer-templates/asdf/locals.pkr.hcl
  packer-templates/asdf/playbook.yml
  packer-templates/asdf/plugins.pkr.hcl
  packer-templates/asdf/variables.pkr.hcl
Labels: area/packer

feat: add multi-source template discovery and refactor build workflow
  .github/workflows/warpgate-image-builder.yaml
  .gitignore
  README.md
  Taskfile.yaml
  scripts/taskfile/create-manifest.sh
  scripts/taskfile/discover-templates.py
  scripts/taskfile/prepare-template-push.sh
  scripts/taskfile/push-digest.sh
  scripts/taskfile/resolve-template-dir.py
  scripts/taskfile/run-image-builder.sh
  warpgate-config.yaml
Labels: area/github, area/taskfile

ci: update warpgate image builder workflow to use go-task for template discovery
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: add -y flag to task command to trust remote taskfiles in GHA
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: use heredoc delimiter for multi-line GitHub Actions output
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

fix: compress JSON to single line for GitHub Actions output
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: add configurable manifest output path for docker packer build
  packer-templates/asdf/docker.pkr.hcl
  packer-templates/asdf/variables.pkr.hcl
Labels: area/packer

fix: avoid duplicate push output when pushing docker images
  scripts/taskfile/push-digest.sh
Labels: none

feat: add multi-source template discovery and workflow automation (#1600)
  .github/workflows/warpgate-image-builder.yaml
  .gitignore
  README.md
  Taskfile.yaml
  packer-templates/asdf/docker.pkr.hcl
  packer-templates/asdf/variables.pkr.hcl
  scripts/taskfile/create-manifest.sh
  scripts/taskfile/discover-templates.py
  scripts/taskfile/prepare-template-push.sh
  scripts/taskfile/push-digest.sh
  scripts/taskfile/resolve-template-dir.py
  scripts/taskfile/run-image-builder.sh
  warpgate-config.yaml
Labels: area/packer, area/github, area/taskfile

refactor: inline template discovery and image workflow scripts into Taskfile.yaml
  Taskfile.yaml
  scripts/taskfile/create-manifest.sh
  scripts/taskfile/discover-templates.py
  scripts/taskfile/prepare-template-push.sh
  scripts/taskfile/push-digest.sh
  scripts/taskfile/resolve-template-dir.py
  scripts/taskfile/run-image-builder.sh
Labels: area/taskfile
