Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

feat: Added flags to selectively disable AMI and container image builds
  cmd/imagebuilder.go
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/packer.go
Labels: area/cmd

fix: Runzero Explorer now properly using bulwark collection
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Refactor Renovate config with scoped automerge rules and cleanup
  .github/renovate.json5
Labels: area/github

docs: improve image pushing guide and optimize cleanup in provisioner
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
  docs/image-pushing.md
Labels: area/blueprints, area/docs

feat: Enable full multi-arch builds for Sliver and TTPForge packer templates
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
Labels: area/blueprints

feat: Add manual image pushing guide for Docker/GHCR workflows
  README.md
  docs/image-pushing.md
Labels: area/docs

feat: Reduce instance sizes and add container metadata to attack-box
  blueprints/atomic-red-team/config.yaml
  blueprints/attack-box/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/windows/config.yaml
Labels: area/blueprints

fix: Squashed bugs in renovate config
  .github/renovate.json5
Labels: area/github

chore: Linting
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
Labels: area/blueprints

feat: Improved README
  README.md
Labels: none

feat: Add secrets task to Taskfile
  Taskfile.yaml
Labels: none

feat: Split attack-box Packer builds into AMI and Docker templates
  blueprints/attack-box/packer_templates/README.md
  blueprints/attack-box/packer_templates/ami.pkr.hcl
  blueprints/attack-box/packer_templates/docker.pkr.hcl
  blueprints/attack-box/packer_templates/locals.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
Labels: area/blueprints

feat: Add Sliver blueprint Packer templates and improve image builds
  blueprints/attack-box/packer_templates/docker.pkr.hcl
  blueprints/sliver/packer_templates/README.md
  blueprints/sliver/packer_templates/ami.pkr.hcl
  blueprints/sliver/packer_templates/docker.pkr.hcl
  blueprints/sliver/packer_templates/locals.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
Labels: area/blueprints

feat: remove obsolete test blueprint, move broken windows blueprint
  blueprints/test/README.md
  blueprints/test/config.yaml
  blueprints/test/packer_templates/plugins.pkr.hcl
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/test/scripts/provision.sh
  broken-blueprints/windows/README.md
  broken-blueprints/windows/config.yaml
  broken-blueprints/windows/packer_templates/plugins.pkr.hcl
  broken-blueprints/windows/packer_templates/variables.pkr.hcl
  broken-blueprints/windows/packer_templates/windows.pkr.hcl
  broken-blueprints/windows/scripts/bootstrap_win.txt
  broken-blueprints/windows/scripts/provision.ps1
Labels: area/blueprints

feat: Add workstation repo provisioning to Sliver Packer build
  blueprints/sliver/packer_templates/README.md
  blueprints/sliver/packer_templates/docker.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
Labels: area/blueprints

fix: Disable AMI building in imageBuilder
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Improve Packer selector arg patterns
  go.mod
  go.sum
  pkg/blueprint/blueprint.go
  pkg/packer/command.go
Labels: area/go-mod-sum

feat: Add Packer task integration and blueprint build/validate tasks
  Taskfile.yaml
Labels: none

feat: Refactored image build/validate tasks to use new template naming scheme
  Taskfile.yaml
Labels: none

feat: Add atomic-red-team Packer templates for Docker & AMI provisioning
  blueprints/atomic-red-team/packer_templates/README.md
  blueprints/atomic-red-team/packer_templates/ami.pkr.hcl
  blueprints/atomic-red-team/packer_templates/docker.pkr.hcl
  blueprints/atomic-red-team/packer_templates/locals.pkr.hcl
  blueprints/atomic-red-team/packer_templates/plugins.pkr.hcl
  blueprints/sliver/packer_templates/README.md
Labels: area/blueprints

feat: Refactor atomic-red-team Packer setup, update variables & docs
  blueprints/atomic-red-team/packer_templates/README.md
  blueprints/atomic-red-team/packer_templates/ami.pkr.hcl
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/sliver/packer_templates/README.md
Labels: area/blueprints

feat: Refactor `ttpforge` Packer templates and update device defaults
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/packer_templates/README.md
  blueprints/ttpforge/packer_templates/ami.pkr.hcl
  blueprints/ttpforge/packer_templates/docker.pkr.hcl
  blueprints/ttpforge/packer_templates/locals.pkr.hcl
  blueprints/ttpforge/packer_templates/plugins.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints

feat: Refactor runZero Explorer Packer templates and variable defaults
  blueprints/runzero-explorer/packer_templates/README.md
  blueprints/runzero-explorer/packer_templates/ami.pkr.hcl
  blueprints/runzero-explorer/packer_templates/docker.pkr.hcl
  blueprints/runzero-explorer/packer_templates/locals.pkr.hcl
  blueprints/runzero-explorer/packer_templates/plugins.pkr.hcl
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
Labels: area/blueprints

feat: Update Packer template README instructions for task-based build
  blueprints/atomic-red-team/packer_templates/README.md
  blueprints/attack-box/packer_templates/README.md
  blueprints/runzero-explorer/packer_templates/README.md
Labels: area/blueprints

chore: Add missing export to docs
  blueprints/sliver/packer_templates/README.md
  blueprints/ttpforge/packer_templates/README.md
Labels: area/blueprints

fix: Updated runzero explorer blueprint to use bulwark collection
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/scripts/provision.sh
Labels: area/blueprints

feat: Add renovate tasks
  Taskfile.yaml
Labels: none

feat: Refactor Renovate config with scoped automerge rules and cleanup
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Labels: area/github

fix: Squashed bugs in renovate config
  .github/renovate.json5
Labels: area/github

fix: Runzero Explorer now properly using bulwark collection
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Improved README
  README.md
Labels: none

feat: Add manual image pushing guide for Docker/GHCR workflows
  README.md
  docs/image-pushing.md
Labels: area/docs

docs: improve image pushing guide and optimize cleanup in provisioner
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
  docs/image-pushing.md
Labels: area/blueprints, area/docs

chore: Linting
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
Labels: area/blueprints

feat: Enable full multi-arch builds for Sliver and TTPForge packer templates
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
Labels: area/blueprints

feat: Reduce instance sizes and add container metadata to attack-box
  blueprints/atomic-red-team/config.yaml
  blueprints/attack-box/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/windows/config.yaml
Labels: area/blueprints

feat: Refactor Renovate config with scoped automerge rules and cleanup
  .github/renovate.json5
Labels: area/github

feat: Add secrets task to Taskfile
  Taskfile.yaml
Labels: none

feat: Split attack-box Packer builds into AMI and Docker templates
  blueprints/attack-box/packer_templates/README.md
  blueprints/attack-box/packer_templates/ami.pkr.hcl
  blueprints/attack-box/packer_templates/docker.pkr.hcl
  blueprints/attack-box/packer_templates/locals.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
Labels: area/blueprints

feat: Add Sliver blueprint Packer templates and improve image builds
  blueprints/attack-box/packer_templates/docker.pkr.hcl
  blueprints/sliver/packer_templates/README.md
  blueprints/sliver/packer_templates/ami.pkr.hcl
  blueprints/sliver/packer_templates/docker.pkr.hcl
  blueprints/sliver/packer_templates/locals.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
Labels: area/blueprints
