Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

chore(deps): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 00e563e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 00e563e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

Fixed pre-commit action
  .github/workflows/pre-commit.yaml
Labels: area/github

Update go.mod and go.sum
  .github/workflows/pre-commit.yaml
  go.mod
  go.sum
  magefiles/go.sum
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 04daf01
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 04daf01
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils to v1.3.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action action to v5
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 6a28655
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 6a28655
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action action to v5
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to ddccb87
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to ddccb87
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils to v1.3.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none

chore(deps): update github/codeql-action digest to 0116bc2
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 0116bc2
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/spf13/viper to v1.17.0
  go.mod
  go.sum
Labels: none

fix(deps): update module github.com/l50/goutils to v2
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none
