Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

Fixed RUNZERO_DOWNLOAD_TOKEN bug
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Renabled functionality; removed testing logic
  .github/workflows/warpgate-image-builder.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
Labels: area/blueprints, area/github

Fix cache error
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Add disk_size for sliver packer template
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Refactored Sliver Packer template and added cleanup steps to provision script.
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/scripts/provision.sh
  blueprints/test/scripts/provision.sh
  pkg/blueprint/blueprint.go
Labels: area/blueprints

Refactor Docker manifest methods and update README.md
  pkg/docker/README.md
  pkg/docker/manifest.go
  pkg/docker/manifest_test.go
Labels: none

Fixed digest parsing and updated test cases.
  pkg/docker/README.md
  pkg/docker/manifest.go
  pkg/docker/manifest_test.go
Labels: none

Fixed image hash format
  pkg/docker/manifest.go
Labels: none

Remove sliver from imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Test only mode to figure out manifest push issue
  .github/workflows/warpgate-image-builder.yaml
  pkg/docker/docker.go
Labels: area/github

Add check for vfs storage driver to storeOpts
  .github/workflows/warpgate-image-builder.yaml
  go.mod
  go.sum
  pkg/docker/docker.go
Labels: area/github, area/go-mod-sum

Updated `.github/workflows/warpgate-image-builder.yaml` and `pkg/docker/docker.go`.
  .github/workflows/warpgate-image-builder.yaml
  go.mod
  go.sum
  pkg/docker/docker.go
Labels: area/github, area/go-mod-sum

Still debugging
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Updated `.github/workflows/warpgate-image-builder.yaml` and `pkg/docker/docker.go`.
  .github/workflows/warpgate-image-builder.yaml
  go.mod
  go.sum
  pkg/docker/docker.go
Labels: area/github, area/go-mod-sum

Updated manifest creation and push logic with proper GitHub authentication
  pkg/docker/README.md
  pkg/docker/manifest.go
Labels: none

Refactored Docker manifest handling and added google/go-containerregistry
  go.mod
  pkg/docker/README.md
  pkg/docker/manifest.go
Labels: area/go-mod-sum

Refactor Docker client initialization and registry authentication
  .github/workflows/warpgate-image-builder.yaml
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/dockerClient.go
  pkg/docker/docker_test.go
  pkg/docker/manifest.go
  pkg/docker/manifest_test.go
  pkg/docker/remoteInterface.go
Labels: area/cmd, area/github, area/go-mod-sum

Refactored Docker client to separate concerns and improve maintainability
  go.mod
  go.sum
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/dockerClient.go
Labels: area/go-mod-sum

Update imagebuilder action to use repo_owner from blueprint tag name for dynamic odyssey validation
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Refactored workflow and provision script for space savings and blueprint flexibility
  .github/workflows/warpgate-image-builder.yaml
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints, area/github

Add show blueprint subcommand
  cmd/blueprint.go
Labels: area/cmd

Fix parsing of blueprint tag info for verify step in imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fix installation of yq
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed overly ambitious cleanup
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints

Optimize cleanup process in provision scripts for various blueprints
  .hooks/linters/mdstyle.rb
  blueprints/atomic-red-team/scripts/provision.sh
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/sliver/scripts/provision.sh
  blueprints/test/scripts/provision.sh
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints, area/pre-commit

Fixed provision broken scripts
  blueprints/atomic-red-team/scripts/provision.sh
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/sliver/scripts/provision.sh
  blueprints/test/scripts/provision.sh
Labels: area/blueprints

Add sliver back to imagebuilder
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Toggle session tagging off in imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed oidc; sliver still not on by default
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fix old goreleaser action
  .github/workflows/goreleaser.yaml
Labels: area/github

Fixed GoReleaser action and added system dependencies in tests
  .github/workflows/goreleaser.yaml
  .github/workflows/tests.yaml
  .github/workflows/warpgate-image-builder.yaml
  .goreleaser.yaml
Labels: area/github

Update goreleaser, action, and go mods
  .goreleaser.yaml
  go.mod
  go.sum
Labels: area/go-mod-sum

Refactored GoReleaser GitHub Action and updated GoReleaser configuration
  .github/workflows/goreleaser.yaml
  .goreleaser.yaml
Labels: area/github

Add DeleteReleaseAndTag to magefile
  magefile.go
Labels: none

Enhanced Magefile with GitHub release management
  magefile.go
Labels: none

Update goreleaser github action to fix permissions error
  .github/workflows/goreleaser.yaml
Labels: area/github

Update go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Added sliver container support again after optimizations to associated ansible
  .github/workflows/warpgate-image-builder.yaml
  blueprints/sliver/packer_templates/sliver.pkr.hcl
Labels: area/blueprints, area/github

Fixed go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Bumped tool-versions
  .tool-versions
Labels: none

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
