Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/blueprints, area/cmd, area/docs, area/templates, area/warpgate, area/magefiles, area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/blueprints:
  - "blueprints/**/*"

area/cmd:
  - "cmd/**/*"

area/docs:
  - "docs/**/*"

area/templates:
  - "templates/**/*"

area/warpgate:
  - "warpgate/**/*"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

Add matrix for all blueprints
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed ansible-attack-box
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
Labels: area/blueprints

Bug fixes
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/github, area/blueprints

Iterating
  .github/workflows/container-image-builder.yaml
Labels: area/github

Hopefully this
  .github/workflows/container-image-builder.yaml
Labels: area/github

Or this?
  .dockerignore
  .github/workflows/container-image-builder.yaml
  .gitignore
Labels: area/github

Debug statement to figure out push error
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed docker push bug
  .github/workflows/container-image-builder.yaml
Labels: area/github

Removed ansible pre-fix for attack-box blueprint
  .vscode/launch-createbp.json
  .vscode/launch.json
  README.md
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
  blueprints/attack-box/scripts/provision.sh
  blueprints/attack-box/variables.pkr.hcl
  blueprints/runzero-explorer/README.md
Labels: area/blueprints

Removed app in favor of PAT; updated with matrix for all blueprints
  .github/workflows/container-image-builder.yaml
Labels: area/github

More debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

We love debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

Cleaned up image builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Iterating
  .github/workflows/container-image-builder.yaml
Labels: area/github

Removed script
  cmd/imagebuilder.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Debugging image builder
  .github/workflows/container-image-builder.yaml
Labels: area/github

Another fix
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed ansible-attack-box
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
Labels: area/blueprints

Enhanced GitHub token validation in imageBuilder and documentation.
  .github/workflows/container-image-builder.yaml
  README.md
  cmd/imagebuilder.go
Labels: area/github, area/cmd

Updated go.mod and go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

Add token perms check to image builder github action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Add concurrency key to builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Throwing in the towel with packer for pushing
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/github, area/blueprints

Hope plzzz
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed docker push bug
  .github/workflows/container-image-builder.yaml
Labels: area/github

Removed unused entrypoint for runzero-explorer
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/config.yaml
Labels: area/github, area/blueprints

Update container image builder to use new github app-based auth
  .github/workflows/container-image-builder.yaml
Labels: area/github

REALLY DEBUGGING
  .github/workflows/container-image-builder.yaml
  cmd/imagebuilder.go
Labels: area/github, area/cmd

More debugging again!
  .github/workflows/container-image-builder.yaml
Labels: area/github

Update renovatebot to use new github app-based auth
  .github/workflows/renovate.yaml
Labels: area/github

**Added GitHub Action for Container Image Building and Enhanced Logging**
  .github/workflows/container-image-builder.yaml
  cmd/blueprint.go
  cmd/imagebuilder.go
Labels: area/github, area/cmd

Add more information to image builder
  .github/workflows/container-image-builder.yaml
Labels: area/github

Bug fixes
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
Labels: area/github, area/blueprints

Fixed case issue in docs that causes annoying error
  docs/debug.md
Labels: area/docs

Update mage go mods
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles, area/go-mod-sum

One last test for the app
  .github/workflows/container-image-builder.yaml
Labels: area/github

Debugging container image builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Add matrix for all blueprints
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed pathing issue in image builder
  .github/workflows/container-image-builder.yaml
  blueprints/runzero-explorer/config.yaml
  cmd/imagebuilder.go
Labels: area/github, area/blueprints, area/cmd

Seeing if removing the app component and fixing username works
  .github/workflows/container-image-builder.yaml
Labels: area/github
