Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Refactor and enhance Packer templates and configuration (#459)
  .github/workflows/warpgate-image-builder.yaml
  blueprints/atomic-red-team/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/test/config.yaml
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/windows/README.md
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
  blueprints/windows/scripts/choco.ps1
  blueprints/windows/scripts/provision.ps1
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  files/variables.pkr.hcl
  go.mod
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/dockerClient.go
  pkg/docker/docker_test.go
  pkg/docker/manifest.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/command_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: area/blueprints, area/cmd, area/github, area/go-mod-sum

Add windows to image builder
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Added README for windows blueprint
  blueprints/windows/README.md
Labels: area/blueprints

Comment out slow AMI build source, remove unused variables
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/attack-box/scripts/provision.sh
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Updated workflows and added Attack-Box blueprint
  .github/workflows/warpgate-image-builder.yaml
  blueprints/attack-box/README.md
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/attack-box/scripts/provision.sh
  blueprints/attack-box/scripts/user_data.sh
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints, area/github

Attack box (#475)
  .github/workflows/warpgate-image-builder.yaml
  blueprints/attack-box/README.md
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/attack-box/scripts/provision.sh
  blueprints/attack-box/scripts/user_data.sh
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints, area/github

Refactored provision path setting in workflow
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Windows Scenarios
  .pre-commit-config.yaml
  blueprints/windows/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/CleanupAndEnableScheduledTask.ps1
  blueprints/windows/scripts/ConfigureWSL.ps1
  blueprints/windows/scripts/DownloadAndInstallWSL.ps1
  blueprints/windows/scripts/EnableFeatures.ps1
  blueprints/windows/scripts/InstallDependencies.ps1
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/docker/README.md
  pkg/docker/dockerClient.go
Labels: area/blueprints, area/cmd, area/pre-commit, area/go-mod-sum

Runs all the way through - ansible not working
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints

Mostly working windows with ansible blueprint
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
Labels: area/blueprints

Working with ansible and sysprep
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints

Fixed renovate automerge
  .github/renovate.json5
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

chore(deps): update docker/setup-buildx-action digest to 4fd8129 (#501)
  .github/renovate.json5
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed renovate automerge
  .github/renovate.json5
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

Fixed renovate automerge
  .github/renovate.json5
  .github/workflows/renovate.yaml
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

Fixed renovate automerge
  .github/renovate.json5
  .github/workflows/renovate.yaml
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

Fixed renovate automerge
  .github/renovate.json5
Labels: area/github

Update renovate action version
  .github/workflows/renovate.yaml
Labels: area/github

Updated go.mod and go.sum
  go.mod
  go.sum
Labels: area/go-mod-sum

Add go mod tidy to nancy and test actions
  .github/workflows/nancy.yaml
  .github/workflows/tests.yaml
Labels: area/github

Update pc action run requirements
  .github/workflows/pre-commit.yaml
Labels: area/github

Fixed golangci pc issue in CI
  .pre-commit-config.yaml
Labels: area/pre-commit

Minor action fixes; update go mods (#580)
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
Labels: area/github, area/pre-commit, area/go-mod-sum

Simplify provision script skeleton; updated vars
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/scripts/provision.ps1
Labels: area/blueprints

Simplify provision script skeleton; updated vars (#617)
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/scripts/provision.ps1
Labels: area/blueprints

Refactored attack-box Packer templates and provisioning scripts
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/attack-box/scripts/provision.sh
  blueprints/attack-box/scripts/user_data.sh
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/test/scripts/provision.sh
Labels: area/blueprints

Add packer pre-commit hooks
  .pre-commit-config.yaml
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints, area/pre-commit

Working attack-box packer template
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/attack-box/scripts/user_data.sh
  go.sum
Labels: area/blueprints, area/go-mod-sum

Enhanced Windows Packer Template with Ansible and SSM Support
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
Labels: area/blueprints

Add cloudstorage pkg readme
  pkg/cloudstorage/README.md
Labels: none

Add environment variable check for AMI configurations
  pkg/blueprint/blueprint.go
  pkg/packer/README.md
  pkg/packer/packer.go
Labels: none

Removed unnecessary config file from test build
  blueprints/test/files/ansible.cfg
  blueprints/test/packer_templates/ansible.cfg
  blueprints/test/packer_templates/test.pkr.hcl
Labels: area/blueprints

Working packer + ssm + ansible
  blueprints/test/files/ansible.cfg
  blueprints/test/packer_templates/ansible.cfg
  blueprints/test/packer_templates/test.pkr.hcl
Labels: area/blueprints

Working with SSM and bash script
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
Labels: area/blueprints

Working packer + ssm + ansible
  blueprints/test/packer_templates/test.pkr.hcl
Labels: area/blueprints

Working windows golden image builder with SSH + SSM + no ansible
  blueprints/attack-box/scripts/provision.sh
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  go.mod
  go.sum
Labels: area/blueprints, area/go-mod-sum

Refactored Test Packer Template and Provision Script
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/test/scripts/provision.sh
Labels: area/blueprints

Refactored attack-box Packer template and Ansible configurations
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/attack-box/scripts/user_data.sh
Labels: area/blueprints

Refactor S3 bucket management and blueprint configuration
  blueprints/attack-box/config.yaml
  go.mod
  go.sum
  pkg/blueprint/blueprint.go
  pkg/cloudstorage/bucket.go
Labels: area/blueprints, area/go-mod-sum

56.5% test coverage - still failing
  go.mod
  pkg/cloudstorage/README.md
  pkg/cloudstorage/bucket.go
  pkg/cloudstorage/bucket_test.go
Labels: area/go-mod-sum
