Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

Refactored ttpforge blueprint to work properly for golden image building
  blueprints/ttpforge/config.yaml
  cmd/imagebuilder.go
  pkg/packer/structs.go
Labels: area/blueprints, area/cmd

Refactor blueprint and imagebuilder command logic for clarity
  cmd/blueprint.go
  cmd/imagebuilder.go
  pkg/blueprint/blueprint.go
  pkg/packer/packer.go
Labels: area/cmd

Extend Atomic Red Team blueprint with AMI support and configuration updates
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/packer_templates/plugins.pkr.hcl
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/atomic-red-team/scripts/provision.sh
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Update workflow and blueprint configurations for enhanced AMI support
  .github/workflows/warpgate-image-builder.yaml
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/plugins.pkr.hcl
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/plugins.pkr.hcl
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/sliver/scripts/provision.sh
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  cmd/imagebuilder.go
  pkg/packer/packer.go
Labels: area/blueprints, area/cmd, area/github

Refactor image builder
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  cmd/README.md
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  go.mod
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/packer/README.md
  pkg/packer/packer.go
  pkg/packer/packer_test.go
  pkg/registry/README.md
  pkg/registry/github.go
  pkg/registry/github_test.go
Labels: area/blueprints, area/cmd, area/go-mod-sum

Add more input validation; imagebuilder tests
  .vscode/launch.json
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  pkg/packer/packer.go
  pkg/registry/README.md
  pkg/registry/github.go
Labels: area/cmd

Refactored imagebuilder; new golden builders
  .github/workflows/warpgate-image-builder.yaml
  .vscode/launch.json
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/packer_templates/plugins.pkr.hcl
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/atomic-red-team/scripts/provision.sh
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/plugins.pkr.hcl
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/plugins.pkr.hcl
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/sliver/scripts/provision.sh
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  cmd/README.md
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  go.mod
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/blueprint/structs.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/packer/README.md
  pkg/packer/packer.go
  pkg/packer/packer_test.go
  pkg/registry/README.md
  pkg/registry/github.go
  pkg/registry/github_test.go
Labels: area/blueprints, area/cmd, area/github, area/go-mod-sum

Fix pathing issue in image builder
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Employ working-directory
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Add tmate for debugging image builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Updated provisionPaths to be more explicit for provision code location on disk
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed blueprint provision path handling bug
  cmd/imagebuilder.go
  pkg/blueprint/blueprint.go
Labels: area/cmd

Fixed another pathing issue
  cmd/imagebuilder.go
Labels: area/cmd

Refactor imagebuilder and blueprint initialization
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
Labels: area/cmd, area/go-mod-sum

Refactor image builder to improve Packer template handling.
  .hooks/linters/mdstyle.rb
  cmd/README.md
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  pkg/blueprint/README.md
  pkg/config/README.md
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/logging/README.md
  pkg/magehelpers/README.md
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/command_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
  pkg/registry/README.md
  templates/README.md.tmpl
Labels: area/cmd, area/pre-commit, area/templates

Update comments and improve logging in imagebuilder and packer command files
  cmd/README.md
  cmd/imagebuilder.go
  pkg/packer/README.md
  pkg/packer/command.go
Labels: area/cmd

Updated packer templates and provision script paths, fixed blueprint config paths
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/scripts/provision.sh
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  cmd/root.go
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/packer/command.go
  pkg/packer/packer.go
Labels: area/blueprints, area/cmd

Updated old github actions
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

Ignore dockerfiles with markdownlint
  .pre-commit-config.yaml
Labels: area/pre-commit

Major Refactor: ImageBuilder and Blueprint Initialization, Packer Template Handling, and Linter Rules Update
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .hooks/linters/mdstyle.rb
  .pre-commit-config.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/scripts/provision.sh
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  cmd/README.md
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
  cmd/root.go
  go.mod
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/config/README.md
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/logging/README.md
  pkg/magehelpers/README.md
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/command_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
  pkg/registry/README.md
  templates/README.md.tmpl
Labels: area/blueprints, area/cmd, area/github, area/pre-commit, area/templates, area/go-mod-sum

Updated go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

Set default provision_path
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Add working dir
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed blueprint name
  cmd/imagebuilder.go
Labels: area/cmd

Fixed wg input paths in imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed wg input paths in imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed paths in image builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed container image building
  .github/workflows/warpgate-image-builder.yaml
  cmd/imagebuilder.go
Labels: area/cmd, area/github

Fixed container image building
  .github/workflows/warpgate-image-builder.yaml
  cmd/imagebuilder.go
Labels: area/cmd, area/github

Two working docker pkg tests
  .github/workflows/warpgate-image-builder.yaml
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: area/cmd, area/github, area/go-mod-sum

Bind viper to GITHUB_TOKEN env var and imageBuilder -t param
  cmd/imagebuilder.go
Labels: area/cmd

Working docker tests for all exported functionality
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: none

Create docker package; refactored image builder with new package
  cmd/imagebuilder.go
  go.mod
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: area/cmd, area/go-mod-sum

Refactored blueprint and Packer configurations, improved validation handling
  blueprints/atomic-red-team/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/command_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: area/blueprints, area/cmd

Refactor Docker client for manifest handling and update tests
  go.mod
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/packer/command.go
Labels: area/go-mod-sum

Fixed image hash retrieval and Docker tagging for Packer builds.
  cmd/imagebuilder.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/command_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: area/cmd

Enhanced Image Hash Retrieval and Docker Tagging for Packer Builds
  .github/workflows/warpgate-image-builder.yaml
  blueprints/atomic-red-team/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/command_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: area/blueprints, area/cmd, area/github, area/go-mod-sum

Fix manifest creation error
  go.mod
  go.sum
  pkg/docker/docker.go
Labels: area/go-mod-sum

Fixed image hash parsing
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: none

Working image hash collection
  pkg/docker/docker.go
  pkg/packer/packer.go
Labels: none

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
