Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/blueprints, area/cmd, area/docs, area/templates, area/warpgate, area/magefiles, area/asdf, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/blueprints:
  - "blueprints/**/*"

area/cmd:
  - "cmd/**/*"

area/docs:
  - "docs/**/*"

area/templates:
  - "templates/**/*"

area/warpgate:
  - "warpgate/**/*"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"

Removed ansible pre-fix for attack-box blueprint
  .vscode/launch-createbp.json
  .vscode/launch.json
  README.md
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
  blueprints/attack-box/scripts/provision.sh
  blueprints/attack-box/variables.pkr.hcl
  blueprints/runzero-explorer/README.md
Labels: area/blueprints

New error message - going back to app-based auth
  .github/workflows/container-image-builder.yaml
Labels: area/github

Add missing token to env vars for wg
  .github/workflows/container-image-builder.yaml
Labels: area/github

Moved debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

Maybe now?
  .github/workflows/container-image-builder.yaml
Labels: area/github

Revert back to BOT_TOKEN
  .github/workflows/container-image-builder.yaml
Labels: area/github

Worked with act, here's hoping
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed github token handling
  cmd/imagebuilder.go
Labels: area/cmd

Back to pre-matrix
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed casing issue
  .github/workflows/container-image-builder.yaml
Labels: area/github

Iterating on the image builder action
  .github/workflows/container-image-builder.yaml
Labels: area/github

Tweaks and bug fixes
  .github/workflows/container-image-builder.yaml
Labels: area/github

Fixed minor bugs in docs and image builder
  .github/workflows/container-image-builder.yaml
  docs/debug.md
Labels: area/github, area/docs

Getting more specific for debugging
  .github/workflows/container-image-builder.yaml
Labels: area/github

Reduced complexity of action to determine if it works then
  .github/workflows/container-image-builder.yaml
Labels: area/github

MOAR debug
  .github/workflows/container-image-builder.yaml
Labels: area/github

Debug statement to figure out push error
  .github/workflows/container-image-builder.yaml
Labels: area/github

Or this?
  .dockerignore
  .github/workflows/container-image-builder.yaml
  .gitignore
Labels: area/github

Remove debug statements; fix doc content
  README.md
  cmd/imagebuilder.go
Labels: area/cmd

Debugging STILL
  .github/workflows/container-image-builder.yaml
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
  cmd/imagebuilder.go
Labels: area/github, area/blueprints, area/cmd

Hopefully this
  .github/workflows/container-image-builder.yaml
Labels: area/github

Removed debug statements from imagebuilder
  cmd/imagebuilder.go
Labels: area/cmd

Fixed renovate config
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/github
