Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

feat: Add support for no-push builds in imagebuilder
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/docker/dockerClient.go
Labels: area/cmd, area/go-mod-sum

fix: Linting, pc hook, remove old file
  .hooks/generate-docs.sh
  blueprints/windows/scripts/choco.ps1
  cmd/blueprint.go
Labels: area/blueprints, area/cmd, area/pre-commit

fix: Update old, vulnerable go modules
  go.mod
  go.sum
Labels: area/go-mod-sum

fix: Broken nancy action
  .github/workflows/nancy.yaml
Labels: area/github

feat: Add support for no-push builds in imagebuilder (#1430)
  .github/workflows/nancy.yaml
  .hooks/generate-docs.sh
  blueprints/windows/scripts/choco.ps1
  cmd/blueprint.go
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/docker/dockerClient.go
Labels: area/blueprints, area/cmd, area/github, area/pre-commit, area/go-mod-sum

feat: Improve image builder UX and update instance configs
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/attack-box/config.yaml
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/test/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  cmd/imagebuilder.go
  docs/dev.md
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
Labels: area/blueprints, area/cmd, area/docs, area/go-mod-sum

feat: Improve image builder UX and update instance configs (#1431)
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/attack-box/config.yaml
  blueprints/runzero-explorer/packer_templates/variables.pkr.hcl
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/test/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  cmd/imagebuilder.go
  docs/dev.md
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
Labels: area/blueprints, area/cmd, area/docs, area/go-mod-sum

fix: Updated runzero explorer blueprint to use bulwark collection
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/scripts/provision.sh
Labels: area/blueprints

chore(deps): update github.com/containers/image/v5 digest to 4279b17
  go.mod
Labels: area/go-mod-sum

chore(deps): update google.golang.org/genproto/googleapis/api digest to 207652e
  go.mod
Labels: area/go-mod-sum

chore(deps): update google.golang.org/genproto/googleapis/rpc digest to 207652e
  go.mod
Labels: area/go-mod-sum

chore(deps): update renovatebot/github-action action to v41.0.20
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update module github.com/oklog/ulid to v2
  go.mod
Labels: area/go-mod-sum

chore(deps): update module go.mongodb.org/mongo-driver to v2
  go.mod
Labels: area/go-mod-sum

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v5
  .pre-commit-config.yaml
Labels: area/pre-commit

feat: Add renovate tasks
  Taskfile.yaml
Labels: none

chore(deps): update github.com/containers/image/v5 digest to 4279b17 (#1439)
  go.mod
Labels: area/go-mod-sum

chore(deps): update module github.com/oklog/ulid to v2 (#1443)
  go.mod
Labels: area/go-mod-sum

chore(deps): update renovatebot/github-action action to v41.0.20 (#1442)
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v5 (#1445)
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update google.golang.org/genproto/googleapis/api digest to 207652e (#1440)
  go.mod
Labels: area/go-mod-sum

chore(deps): update module go.mongodb.org/mongo-driver to v2 (#1444)
  go.mod
Labels: area/go-mod-sum

feat: Refactor Renovate config with scoped automerge rules and cleanup
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Labels: area/github

fix: Squashed bugs in renovate config
  .github/renovate.json5
Labels: area/github

fix: Runzero Explorer now properly using bulwark collection
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Improved README
  README.md
Labels: none

feat: Add manual image pushing guide for Docker/GHCR workflows
  README.md
  docs/image-pushing.md
Labels: area/docs

docs: improve image pushing guide and optimize cleanup in provisioner
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
  docs/image-pushing.md
Labels: area/blueprints, area/docs

feat: Added flags to selectively disable AMI and container image builds
  cmd/imagebuilder.go
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/packer.go
Labels: area/cmd

chore: Linting
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
Labels: area/blueprints

feat: Enable full multi-arch builds for Sliver and TTPForge packer templates
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
Labels: area/blueprints

chore: Bumped go mods
  go.mod
  go.sum
Labels: area/go-mod-sum

feat: Reduce instance sizes and add container metadata to attack-box
  blueprints/atomic-red-team/config.yaml
  blueprints/attack-box/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/windows/config.yaml
Labels: area/blueprints

feat: improve test workflow coverage and scheduling
  .github/workflows/tests.yaml
Labels: area/github

chore: standardize step names in GitHub Actions workflows
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

chore: unify Go setup and caching across workflows
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: standardize Python setup, version pinning in workflows
  .github/workflows/tests.yaml
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

feat: Add renovate tasks
  Taskfile.yaml
Labels: none

fix: Updated runzero explorer blueprint to use bulwark collection
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/scripts/provision.sh
Labels: area/blueprints

feat: Refactor Renovate config with scoped automerge rules and cleanup
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Labels: area/github
