Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

81.5% test coverage - still failing
  pkg/cloudstorage/bucket.go
  pkg/cloudstorage/bucket_test.go
Labels: none

Successfully added SSM and Ansible support for Windows Packer build
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints

Updated instance types and removed regions in blueprints config files.
  .pre-commit-config.yaml
  blueprints/atomic-red-team/config.yaml
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/sliver/config.yaml
  blueprints/test/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints, area/pre-commit

Refactor blueprint and cloud storage management
  .github/workflows/warpgate-image-builder.yaml
  blueprints/attack-box/config.yaml
  go.mod
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/cloudstorage/README.md
  pkg/cloudstorage/bucket.go
Labels: area/blueprints, area/github, area/go-mod-sum

Significantly improved build time with larger instance types
  blueprints/attack-box/config.yaml
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Refactored cloudstorage package for S3 bucket operations.
  go.mod
  go.sum
  pkg/blueprint/blueprint.go
  pkg/cloudstorage/README.md
  pkg/cloudstorage/bucket.go
  pkg/cloudstorage/bucket_test.go
Labels: area/go-mod-sum

Working attack-box AMI
  blueprints/attack-box/config.yaml
Labels: area/blueprints

Removed old pulumi params
  go.mod
  go.sum
  pkg/cloudstorage/bucket.go
Labels: area/go-mod-sum

Remove old params, update docs
  go.mod
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/cloudstorage/README.md
  pkg/cloudstorage/bucket_test.go
Labels: area/go-mod-sum

SSM Support and Enhanced Cloud Functionality (#687)
  .github/workflows/warpgate-image-builder.yaml
  .pre-commit-config.yaml
  blueprints/atomic-red-team/config.yaml
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/attack-box/scripts/provision.sh
  blueprints/attack-box/scripts/user_data.sh
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/test/config.yaml
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/test/scripts/provision.sh
  blueprints/ttpforge/config.yaml
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
  go.mod
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/cloudstorage/README.md
  pkg/cloudstorage/bucket.go
  pkg/packer/README.md
  pkg/packer/packer.go
Labels: area/blueprints, area/github, area/pre-commit, area/go-mod-sum

Add missing plugins to packer templates
  blueprints/atomic-red-team/packer_templates/plugins.pkr.hcl
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
  blueprints/runzero-explorer/packer_templates/plugins.pkr.hcl
  blueprints/sliver/packer_templates/plugins.pkr.hcl
  blueprints/test/packer_templates/plugins.pkr.hcl
  blueprints/ttpforge/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/plugins.pkr.hcl
Labels: area/blueprints

Test blueprint now has all possible parameters and is the ground source of truth for bp consistency
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Remove old debug statement
  pkg/blueprint/blueprint.go
Labels: none

Added IAM resource creation and management functionality
  go.mod
  go.sum
  pkg/packer/README.md
  pkg/packer/iam.go
Labels: area/go-mod-sum

Enhance Blueprint to manage IAM resources and handle missing region config
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
Labels: none

Refactored Packer templates and scripts for attack-box and test blueprints
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/test/scripts/provision.sh
  blueprints/test/scripts/user_data.sh
  blueprints/windows/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Added dynamic inventory creation and refactored user variable
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Updated Windows Packer template with dynamic inventory creation
  blueprints/windows/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
Labels: area/blueprints

Updated attack-box and ttpforge configurations and Packer templates
  blueprints/attack-box/config.yaml
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/attack-box/packer_templates/variables.pkr.hcl
  blueprints/sliver/packer_templates/plugins.pkr.hcl
  blueprints/ttpforge/config.yaml
  blueprints/ttpforge/packer_templates/plugins.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/scripts/user_data.sh
  cmd/blueprint.go
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/packer/packer.go
  templates/config.yaml.tmpl
Labels: area/blueprints, area/cmd, area/templates

WIP
  blueprints/atomic-red-team/config.yaml
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
  blueprints/atomic-red-team/packer_templates/plugins.pkr.hcl
  blueprints/atomic-red-team/packer_templates/variables.pkr.hcl
  blueprints/attack-box/packer_templates/attack-box.pkr.hcl
  blueprints/sliver/config.yaml
  blueprints/sliver/packer_templates/sliver.pkr.hcl
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/packer_templates/ttpforge.pkr.hcl
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
  blueprints/ttpforge/scripts/provision.sh
Labels: area/blueprints

Updated renovate action
  .github/workflows/renovate.yaml
Labels: area/github

Fixed mergo update problem via version pinning
  go.mod
Labels: area/go-mod-sum

Update all of the go modules
  go.mod
  go.sum
Labels: area/go-mod-sum

Add missing ansible plugin to relevant blueprints
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
  blueprints/test/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/plugins.pkr.hcl
Labels: area/blueprints

Add missing ansible plugin to relevant blueprints (#1014)
  blueprints/attack-box/packer_templates/plugins.pkr.hcl
  blueprints/test/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/plugins.pkr.hcl
Labels: area/blueprints

Created new token-based auth for Warpgate image builder workflow.
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Created new token-based auth for Warpgate image builder workflow. (#1015)
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Add taskfile
  Taskfile.yaml
Labels: none

Bumped go modules
  go.mod
  go.sum
Labels: area/go-mod-sum

Refactored Docker build workflow and removed `.tool-versions` file
  .github/workflows/dockerfile-image-builder.yaml
  .tool-versions
Labels: area/github

Update go mods; fix docker-bake action
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/semgrep.yaml
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

Fixed gitignore and hopefully image-builder action
  .github/workflows/dockerfile-image-builder.yaml
  .gitignore
Labels: area/github

Fixed bake settings
  .github/workflows/dockerfile-image-builder.yaml
  dockerfiles/atomic-red/Dockerfile
  dockerfiles/atomic-red/docker-bake.hcl
Labels: area/github

Refactored Docker build workflow and removed `.tool-versions` file (#1264)
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/semgrep.yaml
  .gitignore
  .tool-versions
  dockerfiles/atomic-red/Dockerfile
  dockerfiles/atomic-red/docker-bake.hcl
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

Switch to GitHub App Token for Authentication
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  docs/act.md
Labels: area/docs, area/github

Fixed permissions issue for image builder action
  .github/workflows/dockerfile-image-builder.yaml
Labels: area/github

Removed non-working components of dockerfile image builder
  .github/workflows/dockerfile-image-builder.yaml
Labels: area/github

Switch to GitHub App Token for Authentication (#1265)
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  docs/act.md
Labels: area/docs, area/github

Refactored GitHub Actions workflows for image building
  .github/workflows/dockerfile-image-builder.yaml
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Refactored Warpgate Image Builder authentication and cleanup
  .github/workflows/warpgate-image-builder.yaml
  README.md
Labels: area/github
