Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.1
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/checkout action to v4.1.1
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

Refactored `magefiles/magefile.go` to enhance dependency management and compilation process.
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: none

Refactored blueprint creation and image building logic.
  .pre-commit-config.yaml
  README.md
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box-systemd.pkr.hcl
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
  blueprints/ansible-attack-box/packer_templates/plugins.pkr.hcl
  blueprints/ansible-vnc-zsh/packer_templates/plugins.pkr.hcl
  blueprints/ansible-vnc-zsh/packer_templates/ubuntu-systemd-vnc-zsh.pkr.hcl
  blueprints/ansible-vnc-zsh/packer_templates/ubuntu-vnc-zsh.pkr.hcl
  cmd/blueprint.go
  cmd/imagebuilder.go
Labels: area/pre-commit

Created utility functions and documentation for magefiles.
  go.mod
  go.sum
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/testing.go
  magefiles/tmpl/README.md.tmpl
Labels: none

Refined GitHub Actions and hooks for better CI/CD.
  .github/workflows/codeql-analysis.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .hooks/generate-docs.sh
  .hooks/go-licenses.sh
  .hooks/go-vet.sh
  .hooks/linters/.yaml-lint.yaml
  .hooks/linters/mdstyle.rb
  .hooks/run-go-tests.sh
Labels: area/github, area/pre-commit

Introduced `asdf` local setup and specified tool versions.
  .asdf
  .gvm
  .tool-versions
Labels: none

Enhanced GitHub Actions with testing, vulnerability scan, and Go version bump.
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/tests.yaml
Labels: area/github
