Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/blueprints, area/cmd, area/docs, area/templates, area/warpgate, area/magefiles, area/asdf, area/go-mod-sum

Mild refactor of pre-commit in magefile
  magefiles/magefile.go
Labels: area/magefiles

Refactored package names and instructions to align with warpgate branding.
  cmd/README.md
  magefiles/README.md
  magefiles/magefile.go
  magefiles/testing.go
  magefiles/tmpl/README.md.tmpl
Labels: area/cmd, area/magefiles

Refactored project naming, documentation, and magefiles structure.
  cmd/README.md
  go.mod
  go.sum
  magefiles/README.md
  magefiles/docgen.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Labels: area/cmd, area/magefiles, area/go-mod-sum

Exchange PAT for GITHUB_TOKEN
  cmd/blueprint.go
  cmd/imagebuilder.go
  docs/debug.md
Labels: area/cmd, area/docs

Fixed improper secret value for goreleaser
  .github/workflows/goreleaser.yaml
Labels: area/github

Refactored configurations and scripts for consistency and clarity.
  .editorconfig
  .hooks/go-licenses.sh
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
  blueprints/ansible-attack-box/scripts/provision.sh
  blueprints/ansible-vnc-zsh/packer_templates/ubuntu-systemd-vnc-zsh.pkr.hcl
  blueprints/ansible-vnc-zsh/packer_templates/ubuntu-vnc-zsh.pkr.hcl
  blueprints/ansible-vnc-zsh/scripts/provision.sh
Labels: area/pre-commit, area/blueprints

Refactored ansible playbooks and updated build and provisioning scripts.
  README.md
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box-systemd.pkr.hcl
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
  blueprints/ansible-attack-box/scripts/provision.sh
  blueprints/ansible-attack-box/variables.pkr.hcl
  blueprints/ansible-vnc-zsh/README.md
  blueprints/ansible-vnc-zsh/scripts/provision.sh
  magefiles/README.md
  magefiles/testing.go
Labels: area/blueprints, area/magefiles

Removed -x from all provision scripts
  blueprints/ansible-attack-box/scripts/provision.sh
  blueprints/ansible-vnc-zsh/scripts/provision.sh
  templates/provision.sh.tmpl
Labels: area/blueprints, area/templates

Simplified provision script
  blueprints/ansible-attack-box/scripts/provision.sh
Labels: area/blueprints

Add git to ansible-attack-box provision script
  blueprints/ansible-attack-box/scripts/provision.sh
Labels: area/blueprints

Add default parameters for provision inputs
  blueprints/ansible-attack-box/scripts/provision.sh
Labels: area/blueprints

Removed old ansible-vnc-zsh blueprint
  blueprints/ansible-vnc-zsh/README.md
  blueprints/ansible-vnc-zsh/config.yaml
  blueprints/ansible-vnc-zsh/packer_templates/plugins.pkr.hcl
  blueprints/ansible-vnc-zsh/packer_templates/ubuntu-systemd-vnc-zsh.pkr.hcl
  blueprints/ansible-vnc-zsh/packer_templates/ubuntu-vnc-zsh.pkr.hcl
  blueprints/ansible-vnc-zsh/scripts/provision.sh
  blueprints/ansible-vnc-zsh/variables.pkr.hcl
Labels: area/blueprints

Updated project configuration and enhanced Ansible-Attack-Box blueprint.
  .gitignore
  .tool-versions
  blueprints/ansible-attack-box/config.yaml
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box-systemd.pkr.hcl
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
  blueprints/ansible-attack-box/scripts/provision.sh
  blueprints/ansible-attack-box/variables.pkr.hcl
  docs/debug.md
Labels: area/blueprints, area/docs, area/asdf

Refactor imageBuilder command and update dependencies.
  .github/workflows/pre-commit.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  cmd/README.md
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
Labels: area/github, area/pre-commit, area/cmd

Refactor imageBuilder command and update dependencies.
  .github/workflows/pre-commit.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  cmd/README.md
  cmd/imagebuilder.go
  cmd/imagebuilder_test.go
Labels: area/github, area/pre-commit, area/cmd

Update provision script for attack-box
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
  blueprints/ansible-attack-box/scripts/provision.sh
Labels: area/blueprints

Refactor imageBuilder Command and Provision Script in Ansible-Attack-Box Blueprint
  blueprints/ansible-attack-box/scripts/provision.sh
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
Labels: area/blueprints, area/cmd, area/go-mod-sum

Added comprehensive documentation and tests for WarpGate/logging package.
  pkg/logging/README.md
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: none

Refactor logging and update configurations in Warpgate
  .gitignore
  .vscode/launch-imageBuilder.json
  .vscode/launch.json
  cmd/root.go
  pkg/logging/README.md
  pkg/logging/logger.go
Labels: area/cmd

Refactor logging initialization and configuration.
  cmd/root.go
  config.yaml
  pkg/logging/README.md
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: area/cmd

Refactor logging and directory creation in blueprint management.
  cmd/blueprint.go
  cmd/imagebuilder.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/testing.go
Labels: area/cmd, area/magefiles, area/go-mod-sum

Refactor logging and fix blueprint handling in Warpgate
  .vscode/launch.json
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
  pkg/logging/README.md
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: area/cmd, area/go-mod-sum

Refactor Image Building Process in Imagebuilder
  cmd/imagebuilder.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Refined Logging and Updated Configuration in Image Builder.
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Refactor logging and update configurations in Warpgate
  .gitignore
  .vscode/launch-imageBuilder.json
  .vscode/launch.json
  cmd/root.go
  pkg/logging/README.md
  pkg/logging/logger.go
Labels: area/cmd

Refactor imageBuilder Command and Provision Script in Ansible-Attack-Box Blueprint
  blueprints/ansible-attack-box/scripts/provision.sh
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
Labels: area/blueprints, area/cmd, area/go-mod-sum

Refactor logging and fix blueprint handling in Warpgate
  .vscode/launch.json
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
  pkg/logging/README.md
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: area/cmd, area/go-mod-sum

Refined Logging and Updated Configuration in Image Builder.
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Refactor logging and directory creation in blueprint management.
  cmd/blueprint.go
  cmd/imagebuilder.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/testing.go
Labels: area/cmd, area/magefiles, area/go-mod-sum

Refactor logging initialization and configuration.
  cmd/root.go
  config.yaml
  pkg/logging/README.md
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: area/cmd

Added comprehensive documentation and tests for WarpGate/logging package.
  pkg/logging/README.md
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Labels: none

Update provision script for attack-box
  blueprints/ansible-attack-box/packer_templates/ansible-attack-box.pkr.hcl
  blueprints/ansible-attack-box/scripts/provision.sh
Labels: area/blueprints

Refactor Image Building Process in Imagebuilder
  cmd/imagebuilder.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Add config support to attack-box provision scripts
  blueprints/ansible-attack-box/scripts/provision.sh
Labels: area/blueprints

Refactored Global Logger Initialization and Configuration Handling
  cmd/root.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

Refactored Global Logger Initialization and Configuration Handling
  cmd/root.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

**runZero Explorer blueprint**
  blueprints/runzero-explorer/config.yaml
  blueprints/runzero-explorer/packer_templates/plugins.pkr.hcl
  blueprints/runzero-explorer/packer_templates/runzero-explorer.pkr.hcl
  blueprints/runzero-explorer/scripts/provision.sh
  blueprints/runzero-explorer/variables.pkr.hcl
  go.mod
  go.sum
Labels: area/blueprints, area/go-mod-sum

**Added GitHub Action for Container Image Building and Enhanced Logging**
  .github/workflows/container-image-builder.yaml
  cmd/blueprint.go
  cmd/imagebuilder.go
Labels: area/github, area/cmd

Add more information to image builder
  .github/workflows/container-image-builder.yaml
Labels: area/github

Removed script
  cmd/imagebuilder.go
  go.mod
  go.sum
Labels: area/cmd, area/go-mod-sum

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/blueprints:
  - "blueprints/**/*"

area/cmd:
  - "cmd/**/*"

area/docs:
  - "docs/**/*"

area/templates:
  - "templates/**/*"

area/warpgate:
  - "warpgate/**/*"

area/magefiles:
  - "magefiles/*"

area/asdf:
  - ".asdf"
  - ".tool-versions"

area/go-mod-sum:
  - "go.mod"
  - "go.sum"
