Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Fixed latest tag for created container images
  pkg/docker/docker.go
Labels: none

Fixed bugs in DockerLogin()
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: none

Free up space in warpgate-image-builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Refactor Docker client for improved command execution and testing
  .vscode/launch.json
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: none

Revert "chore(deps): update module github.com/hashicorp/hcl to v2 (#324)"
  go.mod
  go.sum
Labels: area/go-mod-sum

Refactored imagebuilder command and blueprint handling
  .tool-versions
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
  pkg/blueprint/blueprint.go
  pkg/docker/docker.go
Labels: area/cmd, area/go-mod-sum

Refactored Docker client to use Container struct for registry info
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: none

Working TestNewDockerRegistry()
  .tool-versions
  blueprints/atomic-red-team/config.yaml
  cmd/blueprint.go
  cmd/imagebuilder.go
  go.mod
  go.sum
  pkg/blueprint/blueprint.go
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/manifest.go
  pkg/packer/command.go
  pkg/packer/packer.go
Labels: area/blueprints, area/cmd, area/go-mod-sum

Refactor registry handling and remove old packer functions
  cmd/blueprint.go
  cmd/imagebuilder.go
  go.mod
Labels: area/cmd, area/go-mod-sum

Refactored blueprint and packer packages for concurrency and naming consistency
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/packer/command.go
  pkg/packer/packer.go
Labels: none

Attempted to fix - not working
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: none

10.9% coverage
  pkg/docker/docker_test.go
  pkg/docker/manifest_test.go
Labels: none

Refactor Docker client for improved command execution and testing
  go.mod
  go.sum
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: area/go-mod-sum

Working manifest push for latest multiarch tag
  go.mod
  go.sum
  pkg/blueprint/blueprint.go
  pkg/docker/docker.go
  pkg/docker/manifest.go
  pkg/docker/manifest_test.go
  pkg/registry/github.go
Labels: area/go-mod-sum

Working TestDockerTag() and TestDockerLogin()
  go.mod
  go.sum
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: area/go-mod-sum

Working TestPushImage()
  pkg/docker/docker_test.go
Labels: none

Refactor blueprint and Docker tests, remove unused code
  go.mod
  go.sum
  pkg/blueprint/blueprint_test.go
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/manifest_test.go
Labels: area/go-mod-sum

Add image_hashes to all blueprint configs
  blueprints/runzero-explorer/config.yaml
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
Labels: area/blueprints

Update go mods and pre-commit hooks
  .pre-commit-config.yaml
  go.mod
  go.sum
Labels: area/pre-commit, area/go-mod-sum

Fixed sloppyTypeAssert
  pkg/docker/manifest_test.go
Labels: none

Update go version to 1.22.2 in pre-commit action
  .github/workflows/pre-commit.yaml
Labels: area/github

Add missing comments for exported resources
  cmd/README.md
  cmd/imagebuilder.go
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/manifest.go
  pkg/packer/README.md
Labels: area/cmd

Add new pre-commit dependencies
  .github/workflows/pre-commit.yaml
  go.mod
  go.sum
Labels: area/github, area/go-mod-sum

Remove tmate debugging step
  .github/workflows/pre-commit.yaml
Labels: area/github

Refactored blueprint processing and image builder logic (#331)
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  .tool-versions
  blueprints/atomic-red-team/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/sliver/config.yaml
  blueprints/ttpforge/config.yaml
  cmd/README.md
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  go.mod
  go.sum
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/manifest.go
  pkg/docker/manifest_test.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/packer.go
  pkg/registry/github.go
Labels: area/blueprints, area/cmd, area/github, area/pre-commit, area/go-mod-sum

Added missing dependencies to warpgate image builder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Remove entries that don't have a valid image hash
  pkg/blueprint/blueprint.go
Labels: none

Still fixing imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Continuining debugging
  blueprints/atomic-red-team/packer_templates/atomic-red-team.pkr.hcl
Labels: area/blueprints

Fixed registry auth token
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: none

Added additional checks and balances for permissions issue in imagebuilder action
  pkg/docker/docker.go
Labels: none

Added more verbose errors; fixed pathing in imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
  pkg/docker/docker.go
  pkg/packer/packer.go
Labels: area/github

Added configuration file creation to address chown error
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Update container config to use vfs instead of overlay
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Fixed generated config file headers
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Add test to ensure podman is working
  .github/workflows/warpgate-image-builder.yaml
Labels: area/github

Refactored Docker registry creation to handle chown errors and updated workflows
  .github/workflows/warpgate-image-builder.yaml
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: area/github

Removed redundant test; bug fixes
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/docker_test.go
Labels: none

Add new test blueprint for integration testing; updates
  .github/workflows/warpgate-image-builder.yaml
  .tool-versions
  blueprints/test/README.md
  blueprints/test/config.yaml
  blueprints/test/packer_templates/plugins.pkr.hcl
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/test/scripts/provision.sh
  go.mod
  go.sum
Labels: area/blueprints, area/github, area/go-mod-sum

Fix more bugs; add sudo to wg command in imagebuilder action
  .github/workflows/warpgate-image-builder.yaml
  go.mod
  go.sum
  pkg/docker/docker.go
Labels: area/github, area/go-mod-sum
