Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

Update mdstyle
  .hooks/linters/mdstyle.rb
Labels: area/pre-commit

Update pre-commit hooks
  .pre-commit-config.yaml
Labels: area/pre-commit

Fixed renovate bot
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

Patched vulnerable dependency version
  go.mod
  go.sum
Labels: none

chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/sirupsen/logrus to v1.9.3
  go.mod
  go.sum
Labels: none

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

Add renovate action badge
  README.md
Labels: none

chore(deps): pin dependencies
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/sirupsen/logrus to v1.9.3
  go.mod
  go.sum
Labels: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/bitfield/script to v0.22.0
  go.mod
  go.sum
Labels: none

fix(deps): update module github.com/fatih/color to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: none

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: none

fix(deps): update module github.com/spf13/viper to v1.16.0
  go.mod
  go.sum
Labels: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/fatih/color to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: none

fix(deps): update module github.com/sirupsen/logrus to v1.9.3
  go.mod
  go.sum
Labels: none

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: none

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils to v1.3.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none

fix(deps): update module github.com/l50/goutils to v2
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Labels: none

fix(deps): update module github.com/bitfield/script to v0.22.0
  go.mod
  go.sum
Labels: none

fix(deps): update module github.com/spf13/viper to v1.16.0
  go.mod
  go.sum
Labels: none

chore(deps): update github/codeql-action digest to 5b6282e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to 5b6282e
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8
  .github/workflows/goreleaser.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a09933a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update github/codeql-action digest to a09933a
  .github/workflows/codeql-analysis.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 0bdb313
  .github/workflows/semgrep.yaml
Labels: area/github

chore(deps): update returntocorp/semgrep-action digest to 0bdb313
  .github/workflows/semgrep.yaml
Labels: area/github
