Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/dockerfiles, area/packer, area/docs, area/github, area/pre-commit, area/taskfile, tool/atomic-red-team, tool/attack-box, tool/runzero, tool/sliver, tool/ttpforge

.github/labeler.yaml:

---
area/dockerfiles:
  - changed-files:
      - any-glob-to-any-file: "dockerfiles/**/*"

area/packer:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

# Tool-specific labelers
tool/atomic-red-team:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/atomic-red-team/**/*"
      - any-glob-to-any-file: "dockerfiles/atomic-red/**/*"

tool/attack-box:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/attack-box/**/*"

tool/runzero:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/runzero-explorer/**/*"

tool/sliver:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/sliver/**/*"

tool/ttpforge:
  - changed-files:
      - any-glob-to-any-file: "packer-templates/ttpforge/**/*"

refactor: inline template discovery and image workflow scripts into Taskfile.yaml (#1601)
  Taskfile.yaml
  scripts/taskfile/create-manifest.sh
  scripts/taskfile/discover-templates.py
  scripts/taskfile/prepare-template-push.sh
  scripts/taskfile/push-digest.sh
  scripts/taskfile/resolve-template-dir.py
  scripts/taskfile/run-image-builder.sh
Labels: area/taskfile

build: add GoReleaser config, pre-commit hooks, and Go module setup
  .github/workflows/goreleaser.yaml
  .gitignore
  .goreleaser.yml
  .hooks/go-licenses.sh
  .hooks/go-no-replacement.sh
  .hooks/go-vet.sh
  .hooks/govulncheck-scan.sh
  .hooks/prettier.sh
  .pre-commit-config.yaml
  go.mod
  go.sum
Labels: area/github, area/pre-commit

feat: add builder orchestration, config, provisioner, and template management modules
  go.mod
  go.sum
  pkg/builder/builder.go
  pkg/builder/config.go
  pkg/builder/container/buildah.go
  pkg/builder/container/manifest.go
  pkg/builder/container/storage.go
  pkg/builder/orchestrator.go
  pkg/builder/strategy.go
  pkg/config/loader.go
  pkg/config/validator.go
  pkg/discovery/discover.go
  pkg/globalconfig/config.go
  pkg/logging/logging.go
  pkg/provisioner/ansible.go
  pkg/provisioner/collections.go
  pkg/provisioner/script.go
  pkg/provisioner/shell.go
  pkg/templates/git.go
  pkg/templates/loader.go
  pkg/templates/registry.go
Labels: none

build: inject version info into binaries and add runtime config overrides
  .goreleaser.yml
  pkg/builder/config.go
Labels: none

feat: add multi-arch manifest build and push support with tests
  .gitignore
  .hooks/go-copyright.sh
  README.md
  cmd/warpgate/build.go
  pkg/builder/container/manifest.go
  pkg/builder/container/manifest_test.go
Labels: area/pre-commit

test: add initial test coverage for builder, globalconfig, and logging packages
  .github/workflows/tests.yaml
  .hooks/run-go-tests.sh
  pkg/builder/container/buildah_test.go
  pkg/globalconfig/config_test.go
  pkg/globalconfig/integration_test.go
  pkg/logging/logging_test.go
Labels: area/github, area/pre-commit

feat: add initial CLI commands and scaffolding for warpgate tool
  .gitignore
  .hooks/run-go-tests.sh
  cmd/warpgate/completion.go
  cmd/warpgate/init.go
  cmd/warpgate/main.go
  cmd/warpgate/root.go
  cmd/warpgate/templates.go
  cmd/warpgate/validate.go
  cmd/warpgate/version.go
Labels: area/pre-commit

chore: update gitignore and improve go test script robustness
  .gitignore
  .hooks/run-go-tests.sh
  broken-packer-templates/windows/README.md
  pkg/builder/orchestrator.go
Labels: area/pre-commit

style: update copyright year to 2025 in all source files
  cmd/warpgate/build.go
  cmd/warpgate/completion.go
  cmd/warpgate/init.go
  cmd/warpgate/main.go
  cmd/warpgate/root.go
  cmd/warpgate/templates.go
  cmd/warpgate/validate.go
  cmd/warpgate/version.go
  pkg/builder/builder.go
  pkg/builder/config.go
  pkg/builder/container/buildah.go
  pkg/builder/container/buildah_test.go
  pkg/builder/container/manifest.go
  pkg/builder/container/manifest_test.go
  pkg/builder/container/storage.go
  pkg/builder/orchestrator.go
  pkg/builder/strategy.go
  pkg/config/loader.go
  pkg/config/validator.go
  pkg/discovery/discover.go
  pkg/globalconfig/config.go
  pkg/globalconfig/config_test.go
  pkg/globalconfig/integration_test.go
  pkg/logging/logging.go
  pkg/logging/logging_test.go
  pkg/provisioner/ansible.go
  pkg/provisioner/collections.go
  pkg/provisioner/script.go
  pkg/provisioner/shell.go
  pkg/templates/git.go
  pkg/templates/loader.go
  pkg/templates/registry.go
Labels: none

feat: add AMI build support using AWS Image Builder
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
  cmd/warpgate/build.go
  go.mod
  go.sum
  pkg/builder/ami/client.go
  pkg/builder/ami/component.go
  pkg/builder/ami/imagebuilder.go
  pkg/builder/ami/imagebuilder_test.go
  pkg/builder/ami/operations.go
  pkg/builder/ami/pipeline.go
  pkg/globalconfig/config.go
Labels: area/github

feat: add template registry caching, repo management, and version utilities
  cmd/warpgate/templates.go
  go.mod
  go.sum
  pkg/templates/loader.go
  pkg/templates/registry.go
  pkg/templates/registry_test.go
  pkg/templates/version.go
  pkg/templates/version_test.go
Labels: none

feat: add packer to warpgate YAML converter and support env expansion in config
  pkg/config/loader.go
  pkg/convert/packer.go
Labels: none

test: add comprehensive unit and integration tests for core modules
  go.mod
  pkg/builder/ami/imagebuilder_test.go
  pkg/builder/container/buildah_test.go
  pkg/builder/container/manifest_test.go
  pkg/convert/packer_test.go
  pkg/provisioner/provisioner_test.go
  pkg/templates/git_test.go
  pkg/templates/loader_test.go
  pkg/templates/registry_test.go
  pkg/templates/version_test.go
Labels: none

feat: add multi-arch container build support with orchestrator and config updates
  cmd/warpgate/build.go
  go.mod
  go.sum
  pkg/builder/config.go
  pkg/builder/container/buildah.go
  pkg/builder/orchestrator_test.go
Labels: none

feat: add support for saving image digests after build and push
  .github/workflows/warpgate-image-builder.yaml
  cmd/warpgate/build.go
Labels: area/github

refactor: simplify build and development workflow, update docs and Taskfile
  .github/workflows/pre-commit.yaml
  .goreleaser.yaml
  README.md
  Taskfile.yaml
Labels: area/github, area/taskfile

docs: clean up readme by removing outdated sbom badge and doc references
  README.md
Labels: none

``` refactor: migrate packer converter to use HCL parser and add HCL parsing module
  go.mod
  go.sum
  pkg/convert/packer.go
  pkg/convert/packer_hcl.go
  pkg/convert/packer_test.go
Labels: none

feat: add support for post-processors and enhanced provisioners in config and packer conversion
  pkg/builder/config.go
  pkg/builder/config_test.go
  pkg/convert/packer.go
  pkg/convert/packer_hcl.go
  pkg/convert/packer_test.go
Labels: none

feat: add global config-driven defaults for builds, containers, and conversions
  cmd/warpgate/build.go
  pkg/builder/ami/imagebuilder.go
  pkg/builder/ami/operations.go
  pkg/builder/container/buildah.go
  pkg/builder/strategy.go
  pkg/convert/packer.go
  pkg/convert/packer_hcl.go
  pkg/convert/packer_test.go
  pkg/globalconfig/config.go
Labels: none

feat: add config command and improve packer AMI override logic
  cmd/warpgate/root.go
  pkg/convert/packer.go
  pkg/globalconfig/config.go
Labels: none

feat: add support for docker and ami source block parsing with config extraction
  pkg/convert/packer.go
  pkg/convert/packer_hcl.go
  pkg/convert/packer_test.go
Labels: none

refactor: migrate to modular taskfiles and update docs for go: namespace
  README.md
  Taskfile.yaml
Labels: area/taskfile

build: configure go task include with binary name and command path
  Taskfile.yaml
Labels: area/taskfile

feat: add convert subcommand to warpgate root command
  cmd/warpgate/root.go
Labels: none

feat: support Dockerfile-style change directives in Buildah builder
  pkg/builder/container/buildah.go
  pkg/builder/container/buildah_test.go
Labels: none

chore: remove unused asdf playbook and warpgate config files
  packer-templates/asdf/playbook.yml
  warpgate-config.yaml
Labels: area/packer

feat: add automated JSON schema generation and validation for warpgate templates
  .github/workflows/tests.yaml
  .hooks/schema-validate.sh
  .pre-commit-config.yaml
  README.md
  Taskfile.yaml
  cmd/schema-gen/main.go
  cmd/warpgate/convert.go
  cmd/warpgate/init.go
  go.mod
  go.sum
  pkg/builder/config.go
  pkg/builder/constants.go
  pkg/builder/container/buildah.go
  pkg/convert/packer.go
  pkg/convert/packer_hcl.go
  schema/README.md
  schema/warpgate-template.json
Labels: area/github, area/pre-commit, area/taskfile

refactor: migrate packer converter to use HCL parser and add HCL parsing module
  go.mod
  go.sum
  pkg/convert/packer.go
  pkg/convert/packer_hcl.go
  pkg/convert/packer_test.go
Labels: none
