Repository CowDogMoo/warpgate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/blueprints, area/cmd, area/docs, area/github, area/pre-commit, area/templates, area/go-mod-sum

.github/labeler.yaml:

---
area/blueprints:
  - changed-files:
      - any-glob-to-any-file: "blueprints/**/*"

area/cmd:
  - changed-files:
      - any-glob-to-any-file: "cmd/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

area/go-mod-sum:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

WIP
  blueprints/windows/README.md
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
  blueprints/windows/scripts/provision.ps1
  files/variables.pkr.hcl
Labels: area/blueprints

Working with SSH + password
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
  blueprints/windows/scripts/choco.ps1
  blueprints/windows/scripts/provision.ps1
Labels: area/blueprints

Working Windows Golden Image built with SSM and SSH
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
Labels: area/blueprints

Parameterization and cleanup of Packer templates for Windows Golden Image building
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/provision.ps1
  cmd/imagebuilder.go
Labels: area/blueprints, area/cmd

Refactored windows.pkr.hcl for improved modularity and readability
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/provision.ps1
Labels: area/blueprints

Remove unused packer var
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Refactor Packer templates and configuration handling
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  cmd/imagebuilder.go
  pkg/blueprint/blueprint.go
  pkg/packer/command.go
Labels: area/blueprints, area/cmd

chore(deps): update docker/bake-action digest to 867da3c
  .github/workflows/dockerfile-image-builder.yaml
Labels: area/github

chore(deps): update github.com/letsencrypt/boulder digest to 55c274d
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update golang.org/x/exp digest to 7f521ea
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update google.golang.org/genproto/googleapis/rpc digest to dc46fd2
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update dependency helm to v3.15.2
  .tool-versions
Labels: none

chore(deps): update module github.com/cloudflare/circl to v1.3.9
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/docker/cli to v27.0.2+incompatible
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/klauspost/compress to v1.17.9
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/opencontainers/runc to v1.1.13
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/sigstore/sigstore to v1.8.6
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module google.golang.org/protobuf to v1.34.2
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/containers/image/v5 to v5.31.1
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/docker/docker to v27.0.2+incompatible
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/google/go-containerregistry to v0.19.2
  go.mod
  go.sum
Labels: area/go-mod-sum

fix(deps): update module github.com/spf13/cobra to v1.8.1
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/samber/lo to v1.43.0
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/sylabs/sif/v2 to v2.17.1
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module go.mongodb.org/mongo-driver to v1.16.0
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/hashicorp/hcl to v2
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module github.com/oklog/ulid to v2
  go.mod
  go.sum
Labels: area/go-mod-sum

chore(deps): update module gopkg.in/go-jose/go-jose.v2 to v4
  go.mod
Labels: area/go-mod-sum

Remove unused packer var
  blueprints/ttpforge/packer_templates/variables.pkr.hcl
Labels: area/blueprints

Parameterization and cleanup of Packer templates for Windows Golden Image building
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/provision.ps1
  cmd/imagebuilder.go
Labels: area/blueprints, area/cmd

Enhanced concurrency and modularized parsing logic in Packer commands
  go.mod
  go.sum
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: area/go-mod-sum

WIP
  blueprints/test/config.yaml
  go.mod
  go.sum
  pkg/blueprint/blueprint_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: area/blueprints, area/go-mod-sum

Refactored windows.pkr.hcl for improved modularity and readability
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/provision.ps1
Labels: area/blueprints

Working Windows Golden Image built with SSM and SSH
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
Labels: area/blueprints

WIP
  blueprints/windows/README.md
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/plugins.pkr.hcl
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
  blueprints/windows/scripts/provision.ps1
  files/variables.pkr.hcl
Labels: area/blueprints

Refactor Packer Templates and Blueprint Configuration
  blueprints/test/packer_templates/test.pkr.hcl
  blueprints/test/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  cmd/blueprint.go
  cmd/imagebuilder.go
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
Labels: area/blueprints, area/cmd

Working with SSH + password
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  blueprints/windows/scripts/bootstrap_win.txt
  blueprints/windows/scripts/choco.ps1
  blueprints/windows/scripts/provision.ps1
Labels: area/blueprints

Refactored image builder to simplify Docker client configuration
  cmd/imagebuilder.go
  pkg/docker/README.md
  pkg/docker/docker.go
  pkg/docker/dockerClient.go
  pkg/docker/docker_test.go
  pkg/packer/packer.go
Labels: area/cmd

Windows blueprint; Refactor blueprint mgmt Packer template generation
  blueprints/atomic-red-team/config.yaml
  blueprints/runzero-explorer/config.yaml
  blueprints/sliver/config.yaml
  blueprints/test/config.yaml
  blueprints/ttpforge/config.yaml
  blueprints/windows/config.yaml
  cmd/blueprint.go
  cmd/imagebuilder.go
  cmd/root.go
  pkg/blueprint/README.md
  pkg/blueprint/blueprint.go
  pkg/blueprint/blueprint_test.go
  pkg/docker/README.md
  pkg/docker/dockerClient.go
  pkg/docker/manifest.go
  pkg/packer/README.md
  pkg/packer/command.go
  pkg/packer/command_test.go
  pkg/packer/packer.go
  pkg/packer/packer_test.go
Labels: area/blueprints, area/cmd

Refactor Packer templates and configuration handling
  blueprints/sliver/packer_templates/variables.pkr.hcl
  blueprints/windows/config.yaml
  blueprints/windows/packer_templates/variables.pkr.hcl
  blueprints/windows/packer_templates/windows.pkr.hcl
  cmd/imagebuilder.go
  pkg/blueprint/blueprint.go
  pkg/packer/command.go
Labels: area/blueprints, area/cmd
